In [17]:
from poloniex import Poloniex
polo = Poloniex()
import os, datetime

#input date time and Symbol
startdate = '1/11/2010'
end_date= '31/12/2018'
Symbol = 'USDT_BTC'



#pull HISTORICAL DATA
#86400 denotes daily
import pandas as pd
Daily_data =polo.returnChartData(Symbol, 86400, start= datetime.datetime.strptime(startdate, "%d/%m/%Y").timestamp(), end= datetime.datetime.strptime(end_date, "%d/%m/%Y").timestamp())
Daily_data = pd.DataFrame(Daily_data)
Daily_data['True Date']= pd.to_datetime(Daily_data['date'], unit='s')
Daily_data['Year']=  Daily_data['True Date'].dt.year
#moving average columns
Daily_data['MA10'] = Daily_data['close'].rolling(10).mean()
Daily_data['MA50'] = Daily_data['close'].rolling(50).mean()
Daily_data['EMA10'] = Daily_data['close'].ewm(span = 10).mean()
Daily_data['EMA50'] = Daily_data['close'].ewm(span = 50).mean()
Daily_data

,close,date,high,low,open,quoteVolume,volume,weightedAverage,True Date,Year,MA10,MA50,EMA10,EMA50
0,244.000000,1424304000,244.000000,225.000000,225.000000,0.193117,4.627631e+01,239.627778,2015-02-19,2015,NaN,NaN,244.000000,244.000000
1,240.250000,1424390400,245.000000,240.250000,240.250118,0.230429,5.589490e+01,242.568479,2015-02-20,2015,NaN,NaN,241.937500,242.087500
2,245.000000,1424476800,245.000000,245.000000,245.000000,0.060091,1.472224e+01,245.000000,2015-02-21,2015,NaN,NaN,243.168605,243.097420
3,235.000000,1424563200,249.000000,235.000000,245.000000,0.539055,1.291212e+02,239.532608,2015-02-22,2015,NaN,NaN,240.477413,240.950017
4,235.000000,1424649600,235.001000,235.000000,235.000002,0.410926,9.656756e+01,235.000062,2015-02-23,2015,NaN,NaN,238.904997,239.662949
5,239.750000,1424736000,239.750000,235.000000,235.000000,0.626749,1.491544e+02,237.981177,2015-02-24,2015,NaN,NaN,239.124473,239.678946
6,237.750000,1424822400,239.750000,237.750000,239.750000,0.927550,2.215841e+02,238.891722,2015-02-25,2015,NaN,NaN,238.793281,239.369236
7,238.500000,1424908800,239.800000,237.750000,237.750000,0.000650,1.554879e-01,239.116563,2015-02-26,2015,NaN,NaN,238.726558,239.244775
8,249.000000,1424995200,249.000000,238.500000,238.500000,1.589037,3.837554e+02,241.501825,2015-02-27,2015,NaN,NaN,240.961699,240.510026
9,240.000060,1425081600,251.000000,240.000000,240.000000,0.071330,1.714734e+01,240.394041,2015-02-28,2015,240.425006,NaN,240.759701,240.449372
10,251.000000,1425168000,251.000000,240.000121,240.000121,0.001270,3.177152e-01,250.202965,2015-03-01,2015,241.125006,NaN,242.851666,241.611587
11,269.000000,1425254400,269.000000,251.000000,252.000000,0.379032,9.806380e+01,258.721874,2015-03-02,2015,244.000006,NaN,248.076055,244.428736
12,267.220000,1425340800,274.500000,255.000000,268.000000,1.669492,4.429831e+02,265.339966,2015-03-03,2015,246.222006,NaN,251.833423,246.632754
13,280.000000,1425427200,280.000000,258.875000,258.875000,0.878960,2.458890e+02,279.750117,2015-03-04,2015,250.722006,NaN,257.282905,249.684100
14,257.000120,1425513600,280.890000,257.000000,257.000000,0.446298,1.174407e+02,263.144382,2015-03-05,2015,252.922018,NaN,257.228824,250.319920
15,260.000000,1425600000,271.002000,260.000000,269.000141,0.317275,8.419795e+01,265.378077,2015-03-06,2015,254.947018,NaN,257.753847,251.122900
16,260.000005,1425686400,260.000005,260.000005,260.000005,0.000700,1.819948e-01,260.000005,2015-03-07,2015,257.172019,NaN,258.176174,251.828416
17,260.000031,1425772800,275.002000,260.000031,265.000000,0.118750,3.090035e+01,260.212916,2015-03-08,2015,259.322022,NaN,258.516985,252.452727
18,264.000005,1425859200,285.000000,260.000031,260.000031,0.458682,1.283670e+02,279.860694,2015-03-09,2015,260.822022,NaN,259.536414,253.303311
19,291.000000,1425945600,291.000000,264.000064,264.000064,0.191296,5.496176e+01,287.312659,2015-03-10,2015,265.922016,NaN,265.362350,255.987623
20,276.000000,1426032000,292.950111,276.000000,279.000106,0.149287,4.251194e+01,284.765718,2015-03-11,2015,268.422016,NaN,267.325495,257.368490
21,276.000001,1426118400,289.000106,276.000000,289.000106,0.010536,2.909892e+00,276.179401,2015-03-12,2015,269.122016,NaN,268.921992,258.616893
22,275.110000,1426204800,301.000000,275.110000,276.000001,0.201897,5.761316e+01,285.359503,2015-03-13,2015,269.911016,NaN,270.058332,259.692132
23,275.100000,1426291200,275.110000,275.100000,275.110000,0.175604,4.831006e+01,275.108268,2015-03-14,2015,269.421016,NaN,270.982483,260.671188
24,282.108000,1426377600,282.108000,275.100000,275.100000,0.106972,2.945411e+01,275.343316,2015-03-15,2015,271.931804,NaN,273.018797,262.000988
25,275.000000,1426464000,301.000000,275.000000,301.000000,0.088253,2.556469e+01,289.675204,2015-03-16,2015,273.431804,NaN,273.380979,262.789373
26,275.000000,1426550400,275.000000,275.000000,275.000000,0.000033,9.033750e-03,275.000000,2015-03-17,2015,274.931804,NaN,273.676658,263.514402
27,262.090000,1426636800,282.000000,262.090000,275.000000,0.622807,1.649113e+02,264.786975,2015-03-18,2015,275.140801,NaN,271.562320,263.431497
28,264.846315,1426723200,267.010000,248.821580,267.010000,2.771906,7.139042e+02,257.549946,2015-03-19,2015,275.225432,NaN,270.337591,263.512310
29,263.560831,1426809600,267.976676,254.823433,254.898951,0.504661,1.327258e+02,262.999987,2015-03-20,2015,272.481515,NaN,269.102453,263.515033
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1382,4162.648713,1543708800,4311.320445,4105.000000,4206.800000,1426.211530,5.970465e+06,4186.241015,2018-12-02,2018,4114.148567,5799.931782,4275.569073,5456.508693
1383,3890.351510,1543795200,4174.441466,3825.798050,4162.905710,1544.680618,6.132439e+06,3970.037151,2018-12-03,2018,4061.083718,5750.891373,4205.529516,5395.090765
1384,3955.574290,1543881600,4079.000000,3772.635231,3890.351510,1094.253559,4.297561e+06,3927.390151,2018-12-04,2018,4063.323509,5695.002859,4160.083111,5338.639138
1385,3769.809744,1543968000,3971.073210,3745.000000,3955.504280,1486.151023,5.735792e+06,3859.495009,2018-12-05,2018,4030.210647,5635.223955,4089.124317,5277.116417
1386,3508.715290,1544054400,3887.965300,3498.768873,3766.015480,2521.571855,9.334594e+06,3701.894764,2018-12-06,2018,3996.060082,5570.603256,3983.595403,5207.767353
1387,3401.586952,1544140800,3530.000000,3227.020000,3502.326894,3856.746777,1.309998e+07,3396.640231,2018-12-07,2018,3948.213706,5506.434995,3877.775685,5136.936749
1388,3409.251003,1544227200,3494.379436,3280.764140,3401.276245,1858.397428,6.296904e+06,3388.351576,2018-12-08,2018,3862.294570,5444.057274,3792.589379,5069.184367
1389,3549.010830,1544313600,3655.937074,3396.375833,3407.031900,1580.354079,5.570751e+06,3525.002067,2018-12-09,2018,3788.087263,5383.178734,3748.302370,5009.569718
1390,3441.270000,1544400000,3610.000000,3382.605500,3549.010830,1430.077045,4.965297e+06,3472.048597,2018-12-10,2018,3728.127913,5320.159218,3692.478303,4948.067769
1391,3380.000000,1544486400,3459.266200,3320.959900,3438.251480,1114.090701,3.776573e+06,3389.825467,2018-12-11,2018,3646.821833,5256.128121,3635.664066,4886.574915
1392,3445.920090,1544572800,3487.755654,3358.060500,3380.709370,1047.455951,3.584454e+06,3422.056792,2018-12-12,2018,3575.148971,5193.923434,3601.165161,4830.078647
1393,3301.056640,1544659200,3456.429715,3252.110000,3450.372820,1161.182347,3.905307e+06,3363.216212,2018-12-13,2018,3516.219484,5128.715087,3546.599976,4770.117000
1394,3221.657197,1544745600,3339.980000,3180.000000,3301.056640,1163.596727,3.774999e+06,3244.250065,2018-12-14,2018,3442.827775,5062.368231,3487.519471,4709.393086
1395,3216.144738,1544832000,3263.900000,3157.766310,3221.326800,902.037930,2.893066e+06,3207.255141,2018-12-15,2018,3387.461274,4995.891126,3438.178610,4650.834327
1396,3223.744766,1544918400,3292.528170,3208.192118,3212.089357,533.521675,1.734325e+06,3250.711051,2018-12-16,2018,3358.964222,4930.320381,3399.190638,4594.870031
1397,3505.398270,1545004800,3590.000000,3221.000000,3225.034780,1653.402705,5.685567e+06,3438.706429,2018-12-17,2018,3369.345354,4870.528346,3418.501117,4552.145648
1398,3650.806981,1545091200,3676.116900,3438.997576,3507.224760,1375.281461,4.866016e+06,3538.196634,2018-12-18,2018,3393.500951,4816.544486,3460.738547,4516.799034
1399,3667.664189,1545177600,3918.056658,3625.402690,3652.267304,2912.823252,1.091057e+07,3745.704225,2018-12-19,2018,3405.366287,4763.253049,3498.361391,4483.499628
1400,4050.654950,1545264000,4118.000000,3642.617800,3664.465200,2673.048971,1.058288e+07,3959.106292,2018-12-20,2018,3466.304782,4716.740110,3598.778402,4466.525327
1401,3836.540057,1545350400,4145.280459,3766.650260,4050.000000,1783.377255,7.036138e+06,3945.400960,2018-12-21,2018,3511.958788,4665.365569,3642.007793,4441.820022
1402,3948.864441,1545436800,3974.263900,3788.735010,3838.873149,1362.975818,5.252760e+06,3853.890982,2018-12-22,2018,3562.253223,4615.634706,3697.799911,4422.488431
1403,3929.100000,1545523200,4020.000000,3875.954400,3948.864441,1038.881367,4.109962e+06,3956.142167,2018-12-23,2018,3625.057559,4566.474708,3739.854473,4403.139865
1404,4010.268128,1545609600,4200.000000,3929.887825,3929.887825,2208.813764,9.043261e+06,4094.170732,2018-12-24,2018,3703.918652,4517.040071,3789.020592,4387.733130
1405,3740.678415,1545696000,4021.320940,3650.900000,4010.268128,1602.203079,6.002744e+06,3746.556457,2018-12-25,2018,3756.372020,4462.425866,3780.231105,4362.358435
1406,3779.911200,1545782400,3839.000000,3654.987680,3740.990410,1009.082700,3.776287e+06,3742.297023,2018-12-26,2018,3811.988663,4407.648643,3780.172941,4339.517367
1407,3565.271144,1545868800,3818.043221,3535.000000,3780.106690,1152.783064,4.238918e+06,3677.117249,2018-12-27,2018,3817.975951,4347.446066,3741.099887,4309.154770
1408,3840.411604,1545955200,3890.000000,3543.312729,3565.271144,1458.652548,5.459147e+06,3742.596186,2018-12-28,2018,3836.936413,4294.649730,3759.156563,4290.772685
1409,3691.749815,1546041600,3889.100000,3672.110000,3833.356940,1121.507538,4.275756e+06,3812.507524,2018-12-29,2018,3839.344975,4240.090726,3746.900790,4267.281592
1410,3798.240000,1546128000,3820.000000,3658.599971,3693.703230,477.113218,1.794571e+06,3761.310672,2018-12-30,2018,3814.103480,4187.307066,3756.235192,4248.887805
1411,3696.222300,1546214400,3809.090500,3642.000000,3798.970000,405.715129,1.515006e+06,3734.161163,2018-12-31,2018,3800.071705,4132.085453,3745.323757,4227.214647